activite3/ClienBnckService/src/main/java/proxy/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.example.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.example.org/" name="BanqueServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.example.org/" schemaLocation="http://localhost:8080/?xsd=1"/>
</xsd:schema>
</types>
<message name="conversionEuroToDh">
<part name="parameters" element="tns:conversionEuroToDh"/>
</message>
<message name="conversionEuroToDhResponse">
<part name="parameters" element="tns:conversionEuroToDhResponse"/>
</message>
<message name="getCompts">
<part name="parameters" element="tns:getCompts"/>
</message>
<message name="getComptsResponse">
<part name="parameters" element="tns:getComptsResponse"/>
</message>
<message name="getCompt">
<part name="parameters" element="tns:getCompt"/>
</message>
<message name="getComptResponse">
<part name="parameters" element="tns:getComptResponse"/>
</message>
<portType name="BanckSW">
<operation name="conversionEuroToDh">
<input wsam:Action="http://ws.example.org/BanckSW/conversionEuroToDhRequest" message="tns:conversionEuroToDh"/>
<output wsam:Action="http://ws.example.org/BanckSW/conversionEuroToDhResponse" message="tns:conversionEuroToDhResponse"/>
</operation>
<operation name="getCompts">
<input wsam:Action="http://ws.example.org/BanckSW/getComptsRequest" message="tns:getCompts"/>
<output wsam:Action="http://ws.example.org/BanckSW/getComptsResponse" message="tns:getComptsResponse"/>
</operation>
<operation name="getCompt">
<input wsam:Action="http://ws.example.org/BanckSW/getComptRequest" message="tns:getCompt"/>
<output wsam:Action="http://ws.example.org/BanckSW/getComptResponse" message="tns:getComptResponse"/>
</operation>
</portType>
<binding name="BanckSWPortBinding" type="tns:BanckSW">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="conversionEuroToDh">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCompts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCompt">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BanqueServiceService">
<port name="BanckSWPort" binding="tns:BanckSWPortBinding">
<soap:address location="http://localhost:8080/"/>
</port>
</service>
</definitions>